body{
    margin:0%;
    padding: 0%;
}
.base1{
    background-color: #CFEBFD;
    margin: 4% 0 0 0;
    padding: 0%;
    display: flex;
}

.fotoPerfil{
    width: 30%;
    height: 30%;
    margin: 20px;
}

#datos{
    margin: 20px 20px 20px 20%;
}