<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Hoomie{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/imagenes/icono.png" />
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar" id="navp">
    <div class="logo">
      <a href="/inicio"><img src="/static/imagenes/principal.png" /></a>
    </div>
    <div class="buttons">
      {% if usuario_logueado %}
        <h2 id="name">Hola, {{ usuario_logueado }}</h2>
        <a href="/logout"><button class="botonAma" id="out">Cerrar sesión</button></a>
        <a href="/perfil"><button class="botonAzu" id="perfil">Ver Perfil</button></a>
      {% else %}
        <a href="/ingreso"><button class="botonAzu">Ingresar</button></a>
        <a href="/registro"><button class="botonAma">Registrarse</button></a>
      {% endif %}
    </div>
  </nav>

  <!-- CONTENIDO PRINCIPAL -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-container" id="footerp">
      <div class="footer-left">
        <a href="#"><img class="logo" src="/static/imagenes/principal.png" /></a>
        <nav class="footer-nav">
          <a href="/inicio">Inicio</a>
          <a href="/nosotros">Nosotros</a>
          <a href="/publicaciones">Publicaciones</a>
        </nav>
      </div>
      <div class="footer-right">
        <a href="https://www.sic.gov.co/ley-de-proteccion-de-datos" target="_blank">Política de privacidad</a>
      </div>
    </div>
  </footer>

<script src="/static/js/java.js"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
