{% extends "base.html" %}

{% block title %}Inicio - Hoomie{% endblock %}

{% block head %}
        <link rel="stylesheet" href="/static/css/nosotros.css">
{% endblock %}

{% block content %}
    <div class="seccion-hero">

        <!-- Título arriba de todo -->
        <h1 class="titulo">Nuestra misión es ayudarte a que encuentres tu espacio ideal, sin enredos.🏡✨</h1>
        <!-- Contenido en columnas: imagen + texto -->
        <div class="contenido-hero">
          <div class="mock">
            <img src="/static/imagenes/mock.png" alt="Mockup de Hoomie">
          </div>
          <div class="cabecera">
            <p class="descripcion">
              En Hoomie, creemos que encontrar el lugar perfecto para vivir o a la persona ideal para compartirlo 
              no debería ser complicado. Por eso creamos una plataforma pensada especialmente para aquellos que buscan
              un hogar donde se sientan cómodos y seguros.
            </p>
          </div>
        </div>
      </div>
      
    <section class="valores">
        <h2 class="titulo">Nuestros Valores</h2>
        <p class="descripcion">Estos son los principios que guían nuestra comunidad de roomies en Hoomie.</p>
        <div class="valores-grid">
            <div class="valor">
            <img src="/static/imagenes/confianza.png" alt="Icono de Confianza" class="valor-icono">
            <h3 class="valor-nombre">🌱 Confianza</h3>
            <p class="valor-descripcion">
                Creamos un espacio donde las personas pueden sentirse seguras al buscar o compartir su hogar. Nos preocupamos por la transparencia y el respeto en cada conexión.
            </p>
            </div>
        
            <div class="valor">
            <img src="/static/imagenes/comunidad.png" alt="Icono de Comunidad" class="valor-icono">
            <h3 class="valor-nombre">🤝 Comunidad</h3>
            <p class="valor-descripcion">
                Creemos en el poder de las buenas conexiones. Hoomie no es solo una plataforma, es un lugar donde se forman amistades, alianzas y experiencias de vida.
            </p>
            </div>
        
            <div class="valor">
            <img src="/static/imagenes/innovacion.png" alt="Icono de Innovación" class="valor-icono">
            <h3 class="valor-nombre"> 💡 Innovación</h3>
            <p class="valor-descripcion">
                Apostamos por soluciones modernas que se adapten a las necesidades actuales de vivienda compartida, integrando tecnología útil y accesible.
            </p>
            </div>
        </div>
        </section>
        
    </section>

{% endblock %}

