{% extends "base.html" %}

{% block title %}Inicio - Hoomie{% endblock %}

{% block head %}
        <link rel="stylesheet" href="/static/css/inicio.css">
{% endblock %}

{% block content %}

<header class="hero">
    <div class="hero-content">
        <h2 class="tituloA">¡Tu espacio, tu elección!</h2>
        <p><strong>Hoomie es la forma más fácil y cool de encontrar roomies y lugares para vivir. 🏡💙</strong></p>
        <p>
            Ya sea que busques un compañero de cuarto, un hogar donde hacer rooming o quieras rentar tu apartamento,
                aquí conectas con gente afín a tu estilo de vida. Olvídate del drama, encuentra espacios seguros y arma
                la mejor convivencia.  
            ¡Tu próxima aventura empieza en Hoomie! 🚀✨
        </p>
        <a href="nosotros" ><button class="btn">Conocer más <i class="fa-solid fa-arrow-right"></i></button></a>
    </div>
    <div class="hero-logo">
        <img src="/static/imagenes/logo2.png" alt="Hoomie Logo Grande">
    </div>
</header>
<section class="acciones">
    <h2 class="tituloN">¿Qué quieres hacer hoy?</h2>
    <div class="opciones">
        <a href="publicaciones?tipo=buscar+roomie"><div class="opcion">
            <img src="/static/imagenes/buscar.png" alt="Buscar un Roomie">
            <p>Buscar un Roomie</p>
        </div></a>
        <a href="publicaciones?tipo=arrendar"><div class="opcion">
            <img src="/static/imagenes/casa.png" alt="Buscar un Hogar">
            <p>Buscar un Hogar</p>
        </div></a>
        <a href="publicaciones"><div class="opcion">
            <img src="/static/imagenes/rent.png" alt="Rentar tu departamento">
            <p>Rentar tu departamento</p>
        </div></a>
    </div>
</section>
<center><h1 class="tituloA">Opiniones de nuestros Hoomies</h1></center>
<section class="reviews">
    <div class="carousel-container">
        <button id="prevBtn" class="carousel-btn prev"><i class="fa-solid fa-arrow-left"></i></button>
        <div class="carousel-wrapper">
            <div class="carousel">
                <div class="carousel-item">
                    <img src="/static/imagenes/1.jpg" alt="User Image" class="user-image">
                    <h2 class="user-name">Santiago Martinez</h2>
                    <h3 class="descri">Encontré el roomie perfecto 🎉</h3>
                    <p>Me mudé a una ciudad nueva sin conocer a nadie y gracias 
                        a Hoomie encontré un roomie con mis mismos gustos</p>
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>  
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>  
                        <i class="fa-solid fa-star"></i> 
                        <i class="fa-regular fa-star"></i>  
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/imagenes/2.jpg" alt="User Image" class="user-image">
                    <h2 class="user-name">Sofia Lopez</h2>
                    <h3 class="descri">Rápido y sin tantos dramas 🙌</h3>
                    <p>Pensé que sería un lío encontrar dónde vivir,
                    pero en dos días ya tenía opciones. Ahora tengo un cuarto genial y un roomie ideal.</p>
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>  
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>  
                        <i class="fa-solid fa-star"></i> 
                        <i class="fa-regular fa-star"></i>  
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="/static/imagenes/3.jpg" alt="User Image" class="user-image">
                    <h2 class="user-name">Jose Luis Morales</h2>
                    <h3 class="descri">Todo un match de vida 🏡</h3>
                    <p>Quería alquilar un cuarto en mi depa y en menos de una semana ya tenía roomie. Ahora compartimos gastos y risas.</p>
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>  
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>  
                        <i class="fa-solid fa-star"></i> 
                        <i class="fa-solid fa-star"></i>  
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="/static/imagenes/4.jpg" alt="User Image" class="user-image">
                    <h2 class="user-name">Santiago Cruz</h2>
                    <h3 class="descri">La mejor decisión 🏡</h3>
                    <p>"Estaba buscando un lugar donde vivir
                        y en solo un par de días encontré opciones geniales. ¡Definitivamente la app facilitó todo!".</p>
                        <div class="star-rating">
                            <i class="fa-solid fa-star"></i>  
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>  
                            <i class="fa-solid fa-star"></i> 
                            <i class="fa-regular fa-star"></i>  
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="/static/imagenes/5.jpg" alt="User Image" class="user-image">
                    <h2 class="user-name">Erika Mateus</h2>
                    <h3 class="descri">Súper fácil, sin estrés 🙌</h3>
                    <p>"Usar la app fue súper sencillo. En solo días encontré un cuarto que me encantó 
                        y un roomie con quien comparto el mismo ritmo de vida. ¡Me ahorró mucho tiempo y estrés!".</p>
                        <div class="star-rating">
                            <i class="fa-solid fa-star"></i>  
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>  
                            <i class="fa-solid fa-star"></i> 
                            <i class="fa-regular fa-star"></i>  
                        </div>
                    </div>
                    <div class="carousel-item">
                    <img src="/static/imagenes/6.jpg" alt="User Image" class="user-image">
                    <h2 class="user-name">Camilo Daza</h2>
                    <h3 class="descri">¡Mi depa perfecto! 🏠</h3>
                    <p>"Me mudé a una ciudad nueva sin conocer a nadie, y en pocos días ya tenía un cuarto
                            genial y un roomie con quien me llevo de maravilla."</p>
                        <div class="star-rating">
                            <i class="fa-solid fa-star"></i>  
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>  
                            <i class="fa-solid fa-star"></i> 
                            <i class="fa-regular fa-star"></i>  
                        </div>
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
            </div>
        <button id="nextBtn" class="carousel-btn next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</section>
<h1 class="tituloN">Ciudades Disponibles</h1>
<div class="ciudades-container">
    <div class="ciudad-card">
        <div class="imagen-container">
            <a href="publicaciones?ciudad=bogota"><img src="/static/imagenes/bogota.jpg" alt="Bogotá" /></a>
        </div>
        <p>Bogotá</p>
    </div>
    
    <div class="ciudad-card">
        <div class="imagen-container">
            <a href="publicaciones?ciudad=medellin"><img src="/static/imagenes/mede.jpg" alt="Medellín" /></a>
        </div>
        <p>Medellín</p>
    </div>
    <div class="ciudad-card">
        <div class="imagen-container">
            <a href="publicaciones?ciudad=cartagena"><img src="/static/imagenes/carta.jpg" alt="Cartagena" /></a>
        </div>
        <p>Cartagena</p>
        </div>
    </div> 
    {% endblock %}

