<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Hoomie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/imagenes/icono.png" />
        <link rel="stylesheet" href="/static/css/match.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="/static/js/java.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
<body class="ingreso">

<!-- Modal Match -->
<div id="modalMatch" class="modal">
    <div class="modal-contenido">
        <div class="modal-header">
            <h2>Formulario de Match 🧩</h2>
            <div class="barra-progreso">
                <div class="progreso" id="barraProgreso"></div>
            </div>
        </div>

        <div class="modal-body">
            <div class="pregunta">
                <h3 id="textoPregunta"></h3>
                <p id="descripcionPregunta" style="display:none;"></p>
                <select id="respuestaPregunta" class="input-container-input" style="display:none;"></select>
            </div>
            <div class="imagen">
                <img id="imagenPregunta" src="" alt="Imagen pregunta">
            </div>
        </div>

        <div class="modal-footer">
            <button id="cancelarBtn" class="botonCancelar">Cancelar</button>
            <button id="anteriorBtn" class="botonAtras oculto">Anterior</button>
            <button id="siguienteBtn" class="botonSiguiente">Siguiente</button>
        </div>
    </div>
</div>

<div id="toast" class="toast"></div>
<script src="/static/js/match.js"></script>


</body>
</html>
