{% extends "base.html" %}

{% block title %}Publicaciones - Hoomie{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/publicaciones.css">
{% endblock %}

{% block content %}
  <section class="filtros">
    <form action="/publicaciones" method="get">
      <label for="tipo">Tipo de publicación:</label>
      <select name="tipo" id="tipo" class="filtro">
        <option value="">Todas</option>
        <option value="arrendar">Arrendar</option>
        <option value="buscar roomie">Buscar Roomie</option>
      </select>

      <label for="ciudad">Ciudad:</label>
      <input type="text" class="filtro" name="ciudad" id="ciudad" placeholder="Ej: Bogotá">

      <label for="estrato">Estrato:</label>
      <select name="estrato" id="estrato" class="filtro">
        <option value="">Todos</option>
        {% for i in range(1, 7) %}
        <option value="{{ i }}">Estrato {{ i }}</option>
        {% endfor %}
      </select>

      <button type="submit" class="botonAzu" id="filtrar">Filtrar</button>
      <a href="/publicaciones" class="botonAma" id="borrar">Borrar filtros</a>
    </form>
  </section>

  <section class="lista-publicaciones">
    {% if publicaciones %}
      <div class="grid-publicaciones">
        {% for pub in publicaciones %}
          <div class="card">
            <img src="{{ pub.inmueble.fotos.split(',')[0] }}" alt="Foto">
            <div class="card-content">
              <h3>{{ pub.nombre }}</h3>
              <p><strong>Ciudad:</strong> {{ pub.inmueble.ciudad }}</p>
              <p><strong>Barrio:</strong> {{ pub.inmueble.barrio }}</p>
              <p><strong>Estrato:</strong> {{ pub.inmueble.estrato }}</p>
              <a href="/detalle/{{ pub.id }}?tipo={{ request.query_params.tipo or '' }}&ciudad={{ request.query_params.ciudad or '' }}&estrato={{ request.query_params.estrato or '' }}" class="botonAma">Ver más</a>

            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No se encontraron publicaciones.</p>
    {% endif %}
  </section>
{% endblock %}
