<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Hoomie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/imagenes/icono.png" />
        <link rel="stylesheet" href="/static/css/formularios.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body class="ingreso">
        <div class="contenedor">
            <a href="inicio"><img src="/static/imagenes/logo2.png" width="180px"></a>
            <h1>¡Bienvenido a Hoomie!</h1>
            <p>Registra tus datos<p>
                <form action="/registro" id="form-registro" method="post">
                    <ul>
                        <li class="input-container">
                            <input type="text" class="input-container-input" id="nombre" name="nombre_usuario" placeholder="" required />
                            <label for="nombre" class="input-container-label">Nombre(s)</label>
                        </li>
                        <li class="input-container">
                            <input type="text" class="input-container-input" id="apellido" name="apellido_usuario" placeholder="" required/>
                            <label for="apellido" class="input-container-label">Apellidos</label>
                        </li>
                        <li class="input-container">
                            <input type="number" class="input-container-input" id="phone" name="phone_usuario" placeholder="" required />
                            <label for="phone" class="input-container-label" id="phoneL">Número de Celular</label>
                        </li>   
                        <li class="input-container">
                            <input type="email" class="input-container-input" id="email" name="email_usuario" placeholder="" required/>
                            <label for="email" class="input-container-label" id="emailL">Correo Electrónico</label>
                        </li>  
                        <li class="input-container">
                            <input type="password" class="input-container-input" id="contraseña" name="contraseña_usuario" placeholder="" required/>
                            <label for="contraseña" class="input-container-label" id="contraseñaL">Contraseña</label>
                        </li>
                        <li class="input-container">
                            <input type="password" class="input-container-input" id="confirmar" placeholder="" required/>
                            <label for="confirmar_contraseña" class="input-container-label" id="confirmarL">Confirmar Contraseña</label>
                        </li>
                        <section class="Botones">
                            <li class="button">
                                <a href="ingreso"> <button onclick="window.history.back()" class="botonAzu" type="button">Regresar</button></a>  
                            </li>
                            <li class="button">
                                <button type="submit" class="botonAma">Registrarse</button>
                            </li>   
                        </section>
                    </ul>
                </form>                
        </div>
        <script>
          document.getElementById('form-registro').addEventListener('submit', function(e) {
            const pass1 = document.getElementById('contraseña').value;
            const pass2 = document.getElementById('confirmar_contraseña').value;
            if (pass1 !== pass2) {
              e.preventDefault();
              alert('Las contraseñas no coinciden.');
            }
          });
        </script>
        <script src="/static/js/java.js"></script>
    </body>
</html>
