{% extends "base.html" %}

{% block title %}Inicio - Hoomie{% endblock %}

{% block head %}
        <link rel="stylesheet" href="/static/css/inicio.css">
{% endblock %}

{% block content %}
    <body class="inicio" >
        <nav class="navbar" id="navp">
            <div class="logo">
                <a href="/inicio"><img src="/static/imagenes/principal.png"></a>
            </div>
            <div class="buttons">
                {% if usuario_logueado %}
                    <h2 id="name">Hola, {{ usuario_logueado }}</h2>
                    <a href="/logout"><button class="botonAma" id="out">Cerrar sesión</button></a>
                    <a href="/perfil"><button class="botonAzu" id="perfil">Ver Perfil</button></a>
                {% else %}
                    <a href="ingreso"><button class="botonAzu">Ingresar</button></a>
                    <a href="registro"><button class="botonAma">Registrarse</button></a>
                {% endif %}
            </div>
            
        </nav>
    <center><h1 class="tituloN">¡Estamos trabajando en esta página!</h1></center>
    <center><img src="/static/imagenes/trabajando.png"></center>

{% endblock %}